<%= turbo_stream_from :submission %>
<%= turbo_frame_tag submission do %>
  <pre data-prefix="$"><code>bundle exec ruby <%= submission.user.display_name.parameterize %>.rb</code></pre>
  <pre data-prefix=">"><code></code></pre>
  <p><div style="margin-top: -1.5rem; margin-left: 3.2rem;"><% submission.results.each do |result| %><%= turbo_stream_from :result %><%= turbo_frame_tag :result do %><%= render result %><% end %><% end %></div></pre>
<% end %>
<br/>
