<h2 class="font-bold text-xl">Level <%= level.position %>: <%= level.title %> (<%= current_user.passed_exercises.where(level: level).count %>/<%= level.exercises.count %>)</h2>
<ul class="steps steps-vertical">
  <% level.exercises.each do |exercise| %>
    <li class="step step-neutral <%= "step-success" if current_user.passed_exercise?(exercise) %>">
      <%= link_to exercise.title, exercise, class: "link" %>
    </li>
  <% end %>
</ul>
