<div class="hero">
    <p>Complete your profile<br/><br/></p>
    <%= simple_form_for @user, url: wizard_path(:complete_profile), method: :put, local: true do |f| %>
      <div class="border-t border-base-300">
        <%= f.error_notification %>
        <%= f.input :display_name, label: "Alias", input_html: { class: "input-bordered input-sm" } %>
        <%= f.input :given_name, input_html: { class: "input-bordered input-sm" } %>
        <%= f.input :family_name, input_html: { class: "input-bordered input-sm" } %>
        <%= f.button :submit, "GET STARTED", class: "btn btn-primary btn-wide" %>
      </div>
    <% end %>
</div>
